{% load static %}

<footer class="dark-wrapper inverse-text" style="background-image: linear-gradient(to left bottom, #46062a, #410a32, #3a0f39, #301540, #241945, #1c224d, #112a54, #00325a, #004163, #004e66, #005b65, #086762);">
  <div class="container inner">
    <div class="row">
      <div class="col-md-12 col-lg-2">
        <div class="widget">
           <img src="{{navFooter.paaila_white_logo.url}}" alt="" style="height:6rem; width:8rem;"/>
          
        </div>
        <!-- /.widget -->
      </div>
      <br>
      <!-- /column -->
      <div class="space30 d-lg-none d-xl-none"></div>
      {%for foo_list in footer_list %}
        <div class="col-6 col-md-3 col-lg-2 ">
          <div class="widget">
            <h5 class="widget-title">{{foo_list.title}}</h5>
            <ul class="list-unstyled mb-0">
              {%for footer_content in footer_list_content %}
                {%if foo_list == footer_content.footer%}
                  <li><a href="{{footer_content.hyperlink}}">{{footer_content.sub_Title}}</a></li>
                {%endif%}
             
              {%endfor%}
            </ul>
          </div>
          <!-- /.widget -->
        </div>
      {%endfor%}
      <!-- /column -->
     
      <!-- /column -->
      <div class="col-6 col-md-3 col-lg-2">
        <div class="widget">
          <h5 class="widget-title">Contact</h5>
          <address> {{navFooter.street_address}}, {{navFooter.city}}</address>
          <a href="mailto:{{navFooter.email}}">{{navFooter.email}}</a><br /> {{navFooter.phone}}
        </div>
        <!-- /.widget -->
      </div>
      <!-- /column -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
  <div class="container inner pt-0 pb-40 d-flex align-items-center">
    <p class="mb-0 mr-auto">© {{currentYear}} Paaila Technology. All rights reserved.</p>
    <ul class="social social-mute social-s ml-auto">
      {%for f in follow%}
        <li><a href="{{f.hyperlink}}"><i class="{{f.font_awesome_class}}"></i></a></li>
      {%endfor%}
      
    </ul>
  </div>
</footer>
  </div>