{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="{%static 'Paaila-Logo-White.png'%}">
  <title>Home</title>
  <link rel="stylesheet" type="text/css" href="{% static 'style/css/bootstrap.min.css'%}">
  <link rel="stylesheet" type="text/css" href="{%static 'style/css/plugins.css'%}">
  <link rel="stylesheet" type="text/css" href="{%static 'style/revolution/css/settings.css'%}">
  <link rel="stylesheet" type="text/css" href="{%static 'style/revolution/css/layers.css'%}">
  <link rel="stylesheet" type="text/css" href="{%static 'style/revolution/css/navigation.css'%}">
  <link rel="stylesheet" type="text/css" href="{%static 'style/type/type.css'%}">
  <link rel="stylesheet" type="text/css" href="{%static 'style.css'%}">
  <link rel="stylesheet" type="text/css" href="{%static 'style/css/color/purple.css'%}">
  <link href="https://fonts.googleapis.com/css?family=Nunito:300,300i,400,400i,600,600i,700,700i&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="{%static 'style/css/font/font2.css'%}">
  <style>

    
    @media (max-width: 910px) {
      #slider14,
      #mediacov1{
        display: none;
      }
    }
    
    @media (min-width: 910px) {
      .wrapper #response,
      #mediacov2 {
        display: none;
      }
    }
    .wrapper a h5:hover{
    color: grey;
    }
      </style>
</head>
<body>

  {%include 'includes/nav.html'%}

	{%block content%} {%endblock%}
    
   {%include 'includes/footer.html'%}

  <!-- /.content-wrapper -->
  <script src="{%static 'style/js/jquery.min.js'%}"></script>
  <script src="{%static 'style/js/popper.min.js'%}"></script>
  <script src="{%static 'style/js/bootstrap.min.js'%}"></script>
  <script src="{%static 'style/revolution/js/jquery.themepunch.tools.min.js'%}"></script>
  <script src="{%static 'style/revolution/js/jquery.themepunch.revolution.min.js'%}"></script>
  <script src="{%static 'style/revolution/js/extensions/revolution.extension.actions.min.js'%}"></script>
  <script src="{%static 'style/revolution/js/extensions/revolution.extension.carousel.min.js'%}"></script>
  <script src="{%static 'style/revolution/js/extensions/revolution.extension.kenburn.min.js'%}"></script>
  <script src="{%static 'style/revolution/js/extensions/revolution.extension.layeranimation.min.js'%}"></script>
  <script src="{%static 'style/revolution/js/extensions/revolution.extension.migration.min.js'%}"></script>
  <script src="{%static 'style/revolution/js/extensions/revolution.extension.navigation.min.js'%}"></script>
  <script src="{%static 'style/revolution/js/extensions/revolution.extension.parallax.min.js'%}"></script>
  <script src="{%static 'style/revolution/js/extensions/revolution.extension.slideanims.min.js'%}"></script>
  <script src="{%static 'style/revolution/js/extensions/revolution.extension.video.min.js'%}"></script>
  <script src="{%static 'style/js/plugins.js'%}"></script>
  <script src="{%static 'style/js/scripts.js'%}"></script>
</body>
</html>